<div class="fixed-bottom">
  <div class="container border-top pt-2 mt-2">
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>&copy; 2022 Company, Inc. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
