<div class="card bg-dark text-white border-0">
  <%= image_tag('carlos-machado-L1EGIaIY9yk-unsplash.jpg', style: 'height: 50vh;', alt: 'country_side') %>
  <div class="card-img-overlay d-flex align-items-end justify-content-end">
    <div class="card-footer position-absolute bottom-0 end-0">
      <p>Foto de
        <%= link_to('Carlos Machado', 'https://unsplash.com/@kkmachado?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText', class: 'text-decoration-none', target: '_blank') %>
        en
        <%= link_to('Unsplash', "https://unsplash.com/es/fotos/L1EGIaIY9yk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText", class: 'text-decoration-none', target: '_blank') %>
      </p>
    </div>
  </div>
</div>
