<div class="nested-form-wrapper">
  <% if f.object.question.question_type == 'single_choice' %>
    <%= f.object.question.question %>
    <%= f.select(:question, f.object.question.alternatives, data: {
      controller: 'questions',
      action: 'questions#change'
    }) %>
  <% else %>
    <%= f.object.question.question %>
  <% end %>


</div>

